*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
animalsData/images
animalsData/100cropped
animalsData/100original
animalsData/*.zip
animalsData/Camel
animalsData/data
app/release